.grid-container {
    display: grid;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    grid-template-columns: auto auto auto;
    padding: 20px;
  
    div {
      text-align: center;
      border: 1px solid whitesmoke;
      margin: 10px;
      background: radial-gradient(black,transparent);
    }
  }
  
