
.shake {
  font-size: 12rem;
  margin: auto;
}

.shake:hover {
  -webkit-animation: mover 1s;
  animation: mover 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes mover {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(3px, 2px) rotate(1deg);
  }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
}
@keyframes mover {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(-3px, 0px) rotate(0deg);
  }
  60% {
    transform: translate(3px, 2px) rotate(1deg);
  }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  100% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
}

.videoSkate{
  position: relative;
  padding-top: 30px; 
  overflow: hidden;
  width: 100%;
  height: 100%;
  }
  
  .videoSkate iframe,
  .videoSkate object,
  .videoSkate embed {
  position: center;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  }
  
